<div id="banner">
    <div id="banner-content">
      <h1>HELLO FOOD LOVER</h1>
      <H3>We love food, join us!</H3>
      <button type="button" class="btn btn-success" (click)="clickEvent()">
        Create new post
      </button>
    </div>
</div>
<div>
    <div id="home">
        <h4>IF YOU ARE LOOKING FOR...</h4>
        <div id="home-content">
            <div class="card">
                <img src="../../../assets/img/rate.svg">
                <h4>Food Reviews</h4>
                <p>Rate your favorite recipes</p>
            </div>
            <div class="card">
                <img src="../../../assets/img/recipe.svg">
                <h4>Variety of recipes</h4>
                <p>Updates every day</p>
            </div>
            <div class="card">
                <img src="../../../assets/img/chef.svg">
                <h4>Tips from the best</h4>
                <p>Cook like an expert</p>
            </div>
            <div class="card">
                <img src="../../../assets/img/community.svg">
                <h4>Amazing community</h4>
                <p>Share your recipes</p>
            </div>
        </div>
    </div>
</div>    
