#form-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
}
.errorMsg{
    color: red;
}

.customAlert{
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: darkslategray;
    font-weight: bold;
    text-align: center;
}